<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Step 1 Create a Map!</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/mapstyle.css')}}" />
    <link
      rel="stylesheet"
      href="https://js.arcgis.com/4.18/esri/themes/dark-red/main.css"
    />

    <script src="https://js.arcgis.com/4.18/"></script>
    <script src="{{ url_for('static', filename='js/main.js')}}"></script>
  </head>

  <body>
    <div id="viewDiv"></div>
  </body>
</html>
