{% block content %}
<script src="https://openlayers.org/en/v4.6.5/build/ol.js"></script>
<link
  rel="stylesheet"
  href="https://cdn.jsdelivr.net/gh/openlayers/openlayers.github.io@master/en/v6.14.1/css/ol.css"
  type="text/css"
/>

<style>
  .map {
    height: 600px;
    width: 100%;
  }
</style>

<div id="map" style="height: 250px"></div>
<script type="text/javascript">

  var map = new ol.Map({
      target: 'map',
      layers: [
        new ol.layer.Tile({
          source: new ol.source.OSM()
        })
      ],
      view: new ol.View({
        // zoom to coordinates for the workspace
        center: ol.proj.fromLonLat([{{coords.lon}}, {{coords.lat}}]),
        zoom: 12
      })
  });

  const geomLonLat =[{{coords.lon}}, {{coords.lat}}]
  const geomWebMercator =  ol.proj.fromLonLat(geomLonLat);

  var workpackCentroid = new ol.Feature({
    geometry: new ol.geom.Point(geomWebMercator)//{{coords.lon}}, {{coords.lat}}])
  })

  // define a layer
  var workpackCentroidLayer = new ol.layer.Vector({
    source: new ol.source.Vector({
        features: [workpackCentroid],
      }),
    style: new ol.style.Style({
        image: new ol.style.Circle({
        radius: 12,
        fill: new ol.style.Fill({color: 'blue'})
        }),
        text: new ol.style.Text({
      font: 'bold 20px serif',
      text: '{{workpack.workpack_name}}',
      textBaseline: 'top',
      offsetY: -45
      }),
      })
    });

  map.addLayer(workpackCentroidLayer);
</script>

{% endblock %}
