{% extends 'base.html' %} {% set active_page = 'new_item' %} {% block title
%}Add new workpack - {%endblock %} {% block content %}
<head>
  <script src="https://openlayers.org/en/v4.6.5/build/ol.js"></script>
  <link
    rel="stylesheet"
    href="https://cdn.jsdelivr.net/gh/openlayers/openlayers.github.io@master/en/v6.14.1/css/ol.css"
    type="text/css"
  />
  <style>
    .map {
      height: 600px;
      width: 100%;
    }
  </style>

  <script type="text/javascript"></script>
</head>

<div class="row">
  <div class="col-lg-7 offset-lg-2 my-5">
    <h1>Add new workpack</h1>
    <hr />
    <form method="POST" action="{{ url_for('new_workpack') }}">
      {{ form.hidden_tag() }}
      <div class="form-group">
        {{ form.workpack_name.label }} {{
        form.workpack_name(class="form-control") }}
      </div>

      <div class="form-group">
        {{ form.project_id.label }} {{ form.project_id(class="form-control") }}
      </div>
      <div class="form-group">
        {{ form.workpack_extent.label }} {{
        form.workpack_extent(class="form-control") }}
      </div>
      <hr />
      {{ form.submit(class="btn btn-primary form-control") }}
    </form>
  </div>
</div>
<div class="map_extent">
  <h2>Select Workpack Location</h2>
  <div id="map" class="map"></div>
  <script type="text/javascript">
    var map = new ol.Map({
      target: "map",
      layers: [
        new ol.layer.Tile({
          source: new ol.source.OSM(),
        }),
      ],
      view: new ol.View({
        center: ol.proj.fromLonLat([0, 0]),
        zoom: 1,
      }),
    });

    const workpackExtent = document.querySelector('[name="workpack_extent"]');

    map.on("click", function (event) {
      console.log("test");
      const coordinate = event.coordinate;
      const coordinateLonLat = ol.proj.toLonLat(coordinate);
      console.log(coordinateLonLat);
      // const reorder = [coordinateLatLon[1], coordinateLatLon[0]];
      // const reorderCoord = reorder.join(", ");
      // console.log(reorderCoord);
      workpackExtent.value = coordinateLonLat;
    });
  </script>
</div>
{% endblock %}
